{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/addressbook"
    },
    "cloudant": {
      "db": "https://feseenedismedutposeliend:3AcYnHrgSSuX6RTUjjTWGNtO@jmalone4fsu.cloudant.com/addressbook"
    }
  }
}